body {
    background: rgb(240, 239, 239);
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-ul {
    margin-left: 40%;
}

.nav-container {
    Padding-left: 15%;
    padding-right: 15%;

    background: #1E40AF;

}

.hero-section {
    background: linear-gradient(135deg, #29439a, #60a5fa);
    color: #ffffff;
    padding: 120px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
    opacity: 0.2;
    z-index: 0;
}

.hero-section h1 {
    font-size: 3.2rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #1e40af;
    margin-bottom: 20px;
}

.skill-card img{
    width: 50px;
    height: 50px;
}
.skill-card{
    align-items: center;
    padding: 15px;
}

.Project-card img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}



.Contact section .map-container{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    width: 150%;
    height: 200px;
    border: none;
    border-radius: 10px;
}

.footer-section{
    background-color: #1e40af;
    color: #ffffff;
    padding: 20px 0;

}